CONFIG VCCAUX = "3.3" ;

# ==== Clock inputs (CLK) ====
NET "CLK_25MHZ" LOC = "Y13"  | IOSTANDARD = LVCMOS33;
NET "CLK_25MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 25000 kHz;

# ==== Pushbuttons (BTN) ====
NET "CONSOLE_RESET_N" LOC = H12 | IOSTANDARD = LVCMOS33 ;

# ==== RS-232 Serial Ports (RS232) ====
NET "RXD" LOC = AA21 | IOSTANDARD=LVCMOS33;
NET "TXD" LOC = AB19 | IOSTANDARD=LVCMOS33;

# DVI Common
NET "SDA" LOC = D9 | IOSTANDARD = LVCMOS33;
NET "SCL" LOC = E8 | IOSTANDARD = LVCMOS33;

# DVI Interface 1 (DVI)
NET "DVI_DATA[0]" LOC = D17 | IOSTANDARD = LVCMOS33;
NET "DVI_DATA[1]" LOC = A14 | IOSTANDARD = LVCMOS33;
NET "DVI_DATA[2]" LOC = A15 | IOSTANDARD = LVCMOS33;
NET "DVI_DATA[3]" LOC = A16 | IOSTANDARD = LVCMOS33;
NET "DVI_DATA[4]" LOC = A17 | IOSTANDARD = LVCMOS33;
NET "DVI_DATA[5]" LOC = A18 | IOSTANDARD = LVCMOS33;
NET "DVI_DATA[6]" LOC = D14 | IOSTANDARD = LVCMOS33;
NET "DVI_DATA[7]" LOC = B14 | IOSTANDARD = LVCMOS33;
NET "DVI_DATA[8]" LOC = B16 | IOSTANDARD = LVCMOS33;
NET "DVI_DATA[9]" LOC = B18 | IOSTANDARD = LVCMOS33;
NET "DVI_DATA[10]" LOC = E16 | IOSTANDARD = LVCMOS33;
NET "DVI_DATA[11]" LOC = D15 | IOSTANDARD = LVCMOS33;
NET "DVI_CLK_P" LOC = E14 | IOSTANDARD = LVCMOS33;
NET "DVI_CLK_N" LOC = F15 | IOSTANDARD = LVCMOS33;
NET "HSYNC" LOC = F12 | IOSTANDARD = LVCMOS33;
NET "VSYNC" LOC = C16 | IOSTANDARD = LVCMOS33;
NET "DE" LOC = F14 | IOSTANDARD = LVCMOS33;
NET "V1_RESET_N" LOC = C15 | IOSTANDARD = LVCMOS33;